<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h5>Quienes Somos</h5>
            <p><a data-toggle="modal" data-target="#dialogo1">Vision</a></p>
            <div class="modal fade" id="dialogo1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Vision</h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                            Ser una empresa que ofrece productos al mejor precio garantizado la satisfación de sus clientes.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <p><a data-toggle="modal" data-target="#dialogo2">Mision</a></p>
            <div class="modal fade" id="dialogo2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Mision</h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                            Mantener un canal de distribución entre productor y cliente que no encaresca el producto.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Redes Sociales</h5>
            <p><a href="https://es-la.facebook.com/" target="_blank">Facebook</a></p>
            <p><a href="https://web.whatsapp.com/" target="_blank">Whatsapp</a></p>
            <p><a href="https://www.instagram.com/?hl=es-la" target="_blank">Instagram</a></p>
            <p><a href="https://twitter.com/login?lang=es" target="_blank">Twitter</a></p>
            <a href="http://"></a>
        </div>
        <div class="col-md-4">
            <h5>Contacto</h5>
            <p><b>Tel:</b>2510534</p>
            <p>Av.Velasco Ibarra 146 y
                Remigio Crespo(Caràn N3-131)
            </p>
        </div>
    </div>
</div>