<mat-toolbar class="colorToolbar">
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Administrador" (click)="onToggleSidenav()" *ngIf="authService.onGetTokenAdmin()">
        <mat-icon>list_alt</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Inicio" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Ver Categorias" [routerLink]="['/clientCategoriaoList']">
        <mat-icon>visibility</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Ver Facturas Pendientes" *ngIf="authService.onLoggedIn()" [routerLink]="['/formaPago']">
        <mat-icon> attach_money</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Ver Facturas" *ngIf="authService.onLoggedIn()" [routerLink]="['/clientFacturasptbe']">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Notificaciones"  [routerLink]="['/']">
        <mat-icon matBadge="{{ cantPromo }}" matBadgeColor="warn">notifications_active</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Registrate" *ngIf="!authService.onLoggedIn()" [routerLink]="['/registForm']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="registrer icon">assignment</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Logeate" *ngIf="!authService.onLoggedIn()" [routerLink]="['/login']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="user icon">perm_identity</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Salir de Sesion" *ngIf="authService.onLoggedIn()" (click)="authService.logout()"
        [routerLink]="['/login']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="user icon">directions_run</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>