<div class="row m-0 justify-content-center align-items-center vh-100">
    <div class="col-ms-4 bg-white">
        <mat-card>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <mat-card-header>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Login</h3>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="controleContainer">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="formLogin.controls && (formLogin.dirty || formLogin.touched)">
                                <p *ngIf="formLogin.controls['email'].touched && formLogin.controls['email'].errors?.required">El email es required</p>
                                <p *ngIf="formLogin.controls['email'].errors?.email && formLogin.controls['email'].errors?.pattern">email invalido</p>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <mat-error *ngIf="formLogin.controls && (formLogin.dirty || formLogin.touched)">
                                <p *ngIf="formLogin.controls['password'].touched && formLogin.controls['password'].errors?.required">El password es required</p>
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button mat-fab color="primary" type="submit" [disabled]="formLogin.invalid">Submit</button>
                                        <!--[disabled]="formPersona.invalid"-->
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <a class="text-primary pointer" [routerLink]="['/registForm']">Registrese aqui...</a>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>