<!-- <div class=" m-4 borderHeader colorFondo">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center ">
            <img src="../../../assets/img/tdtd.png" alt="" width="50%" height="50%" class="m-4">
        </div>
        <div class="col d-flex justify-content-center align-items-end">
            <img src="../../../assets/img/euk.png" alt="" width="50%" height="50%">
        </div>
    </div>
</div> -->
<div #colorf>
    <div class="row imgPrincipal m-0 justify-content-center align-items-center vh-50 text-center">
            <h2 class="font-weight-bold textEurekakits">EUREKA KITS</h2>
            <img src="../../../assets/img/lapto.jpeg" alt="" class="imgLapto">
    </div>
</div>