<div class="row" *ngIf="!cateProd; else mainContent">
    <div class="col-md-4 p-4 text-center mx-auto">
        <mat-card class="cardImage">
            <!-- (click)="onSelectedCategoria(item.arreglo)"-->
            <mat-card-header>
                <mat-card-title>Ups..!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>Lo siento. No existen Productos</h2>
            </mat-card-content>
            <mat-card-footer>
                <p>
                    <a class="btn btn-danger btn-lg" [routerLink]="['/clientCategoriaoList']" role="button">Regresar</a>
                </p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<ng-template #mainContent>
    <div class="row">
        <div class="col-md-4 p-4" *ngFor="let item of cateProd">
            <mat-card class="cardImage" (click)="onSelectedProducto(item.idproducto)">
                <mat-card-header>
                    <mat-card-title>{{item.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-image [src]="API_URI_IMAGE+item.image" alt="Photo">
                </mat-card-content>
                <mat-card-footer>
                    <div class="text-center">
                        <h3>Descripción</h3>
                        <p>{{ item.describir }}</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</ng-template>