<form [formGroup]="formCategoria" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controleContainer">
                <mat-form-field [hidden]="true">
                    <input type="text" formControlName="idcategoria" matInput placeholder="Categoria">
                    <mat-error>El campo $key es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="nombre" matInput placeholder="nombre">
                    <mat-error *ngIf="formCategoria.controls && (formCategoria.dirty || formCategoria.touched)">
                        <p *ngIf="formCategoria.controls['nombre'].touched && formCategoria.controls['nombre'].errors?.required">El Nombre es requiredo</p>
                    </mat-error>
                </mat-form-field>
                <div class="container-input-file">
                    <div class="custom-file">
                        <input formControlName="image" type="file" name="image" (change)="onPhotoSelected($event)" #photoInput>
                        <mat-error *ngIf="formCategoria.controls && (formCategoria.dirty || formCategoria.touched)">
                            <p *ngIf="formCategoria.controls['image'].touched && formCategoria.controls['image'].errors?.required">La Imagen es requireda</p>
                        </mat-error> 
                    </div>
                </div>
                <label for="">Estado</label>
                <mat-radio-group formControlName="estado">
                    <mat-radio-button value="1">Activo</mat-radio-button>
                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="formCategoria.controls && (formCategoria.dirty || formCategoria.touched)">
                    <p *ngIf="formCategoria.controls['estado'].touched && formCategoria.controls['estado'].errors?.required">El Estado es requiredo</p>
                </mat-error> 
                <div class="row">
                    <div class="col">
                        <button  mat-fab color="primary" type="submit" [disabled]="formCategoria.invalid">Submit</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg" (click)="onCloseCategoriaForm()">Close</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img [src]="photoSelected || '../../../../assets/img/noImage.jpg'" alt="" width="500" height="400" (click)="photoInput.click()"> 
        </mat-grid-tile>
    </mat-grid-list>
</form>