<form [formGroup]="formDireccion" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <div class="controleContainer">
                <mat-form-field [hidden]="true"> <!-- [hidden]="true"-->
                    <input type="text" matInput formControlName="iddireccion" placeholder="iddireccion">
                    <mat-error>El campo $key es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="domisoci" placeholder="lugar domicilio/trabajo">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="provincia" placeholder="provincia">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="canton" placeholder="Canton">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="parroquia" placeholder="Parroquia">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="sector" placeholder="Sector">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="calleprincipal" placeholder="Calle Principal">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controleContainer">
                <mat-form-field>
                    <input  matInput formControlName="numeracion" placeholder="Enumeracion">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="callesecundaria" placeholder="Calle Secundaria">
                </mat-form-field>
                <mat-form-field>
                    <input  matInput formControlName="descripcion" placeholder="Descripcion">
                </mat-form-field>
                <label for="">Estado</label>
                <mat-radio-group formControlName="estado">
                    <mat-radio-button value="1">Activo</mat-radio-button>
                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                </mat-radio-group>
                <div class="row">
                    <div class="col">
                        <button mat-fab color="primary" type="submit" [disabled]="formDireccion.invalid">Submit</button>
                        <!---->
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg" (click)="onCloseDialog()">Close</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>