<div class="row">
    <div class="col">
        <button mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>Create
        </button>
    </div>
    <div class="col">
        <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="searchFiltrer()"
                class="inputSearch">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h6 class="text-center">Lista Personas</h6>
        <div>
            <div class="mat-elevation-z8 ">
                <mat-table [dataSource]="listPersona" matSort>
                    <ng-container matColumnDef="cedula">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>cedula</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.cedula}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombres">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>nombres</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.nombres}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="apellidos">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>apellidos</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.apellidos}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechanacimiento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>fechanacimiento</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.fechanacimiento}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="convencional">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>convencional</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.convencional}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="sector">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>sector</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.sector}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.email}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="password">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>password</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.password}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="requerimiento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>requerimiento</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.requerimiento}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>estado</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.estado}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button>
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onEdit(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onDelete(row.idpersona)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            Loading data...
                        </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            no data
                        </mat-footer-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listPersona !== null}">
                    </mat-footer-row>
                    <mat-footer-row *matFooterRowDef="['noData']"
                        [ngClass]="{'hide': !(listPersona != null && listPersona.data.length===0)}">
                    </mat-footer-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
            </div>
        </div>
    </div>
</div>
